#webpage{
    background-color: #36393E;
  }
  
  #Headline {
      font-size: 75px;
      font-family: Arial, Helvetica, sans-serif;
      color: #00008B;
      text-shadow:
        -2px -2px 0 #FF8C00,
        0   -2px 0 #FF8C00,
        2px -2px 0 #FF8C00,
        2px  0   0 #FF8C00,
        2px  2px 0 #FF8C00,
        0    2px 0 #FF8C00,
        -2px  2px 0 #FF8C00,
        -2px  0   0 #FF8C00;
      text-align: center;
      margin-top: 0px;
  }
  
  #Underline {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic;
      color: #00008B;
      text-shadow:
        -1px -1px 0 #FF8C00,
        0   -1px 0 #FF8C00,
        1px -1px 0 #FF8C00,
        1px  0   0 #FF8C00,
        1px  1px 0 #FF8C00,
        0    1px 0 #FF8C00,
        -1px  1px 0 #FF8C00,
        -1px  0   0 #FF8C00;
      text-align: center;
      margin-top: -50px;
  }
  
#LandRankingBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 3000px;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 500px 500px 500px 500px 500px 500px;
    border: 1px solid #FF8C00;
}

  
.RankingName {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00008B;
    text-shadow:
      -1px -1px 0 #FF8C00,
      0   -1px 0 #FF8C00,
      1px -1px 0 #FF8C00,
      1px  0   0 #FF8C00,
      1px  1px 0 #FF8C00,
      0    1px 0 #FF8C00,
      -1px  1px 0 #FF8C00,
      -1px  0   0 #FF8C00;
    text-decoration: underline;
    text-align: center;
}


  
.ListClass{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FF8C00;
    text-align: center;
    margin-top: 0px;
}
  
.LL {
    display: inline-block;
    text-align: left;
}
  